[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
diquencer = { git = 'https://github.com/mcjlnrtwcz/diquencer.git', ref = 'v0.5.0' }

[dev-packages]
black = "==19.3b0"
flake8 = "~=3.7.7"
isort = "~=4.3.15"
